.login-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.login-form {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  width: 300px;
}

.form-field {
  margin-bottom: 10px;
}

.text-input,
.login-button {
  width: calc(100% - 24px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.login-button {
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

.login-button:hover {
  background-color: #0056b3;
}

.error-message {
  color: red;
  margin-top: 10px;
  text-align: center;
}
